# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
.vite/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# 1. 환경변수 보안용
.env
.env.local
.env.*.local

# 2. 타입스크립트 임시 파일
*.tsbuildinfo 

# 3. 테스트 및 린트
coverage/
.eslintcache
